toolz==1.1.0
mujoco-mjx==3.5.0
orbax-export==0.0.8
humanize==4.15.0
psutil==7.2.2
PyOpenGL==3.1.10
gast==0.7.0
platformdirs==4.9.4
markdown-it-py==4.0.0
pydantic==2.12.5
zipp==3.23.0
urllib3==2.6.3
GitPython==3.1.46
certifi==2026.2.25
jaxtyping==0.3.9
msgpack==1.1.2
jax==0.9.0.1
treescope==0.1.10
trimesh==4.11.2
typing_extensions==4.15.0
typing-inspection==0.4.2
attrs==25.4.0
flax==0.12.4
typing-inspect==0.9.0
setuptools==80.10.2
wadler_lindig==0.1.7
dataclasses-json==0.6.7
simplejson==3.20.2
optax==0.2.6
PyYAML==6.0.3
wrapt==2.1.1
distrax==0.1.7
mujoco==3.5.0
jaxlib==0.9.0.1
sentry-sdk==2.56.0
scipy==1.17.1
glfw==2.10.0
gitdb==4.0.12
Pygments==2.19.2
annotated-types==0.7.0
wheel==0.46.3
absl-py==2.4.0
idna==3.11
opt_einsum==3.4.0
click==8.3.1
requests==2.33.0
mypy_extensions==1.1.0
mdurl==0.1.2
cloudpickle==3.1.2
tfp-nightly==0.26.0.dev20260301
rich==14.3.3
tensorstore==0.1.81
charset-normalizer==3.4.6
smmap==5.0.3
chex==0.1.91
protobuf==6.33.6
numpy==2.3.5
orbax-checkpoint==0.11.33
fsspec==2026.2.0
pydantic_core==2.41.5
six==1.17.0
ml_dtypes==0.5.4
wandb==0.25.1
importlib_resources==6.5.2
decorator==5.2.1
packaging==25.0
pip==26.0.1
marshmallow==3.26.2
aiofiles==25.1.0
dm-tree==0.1.9
etils==1.13.0
uvloop==0.22.1
